.plate {
  height: 80px;
  width: 80px;
  position: relative;
}

.burger {
  filter: url(#gooeyness);
  position: absolute;
}

.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: currentColor;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}

.plate .x {
  transition: transform 400ms;
}
.plate .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.active .line {
  transition: transform 400ms;
}
.active .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}
.active .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}
.active .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}
.active .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}
.active .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}
.active .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}
.active .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
